<h2>Hi</h2>

<form method="post">
    <table>
        <tr>
            <td>{{form.uName.label}}</td>
            <td>{{form.uName(class="input", style="color: red")}}</td>
            <td>{{form.uEmail.label}}</td>
            <td>{{form.uEmail(class="input", style="color:purple")}}</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

